*{
    box-sizing: border-box;
    font-family: cursive;
}

body{
    padding: 0;
    margin: 0;
}

nav{
    background-color: grey;
    width: 100%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1240px;
    width: 100%;
}

.nav-bar img{
    width: 50px;
    border-radius: 50px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    font-weight: 550;
    
}

.nav-links a{
    color: aqua;
    text-decoration: none;
}


.container{
    width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

}

.products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    position: relative;


}

.product{
    width: 100%;
    border-radius: 5px;
    box-shadow: 1px .5px 2px .5px;
    padding-bottom: 10px;
    padding: 15px;
    background-color: #FA8C1A;
    display: flex;
    flex-direction: column;
}

.product img{
    width: 100%;
    border-radius: 5px;
}

.product p{
    text-transform: capitalize;
    margin-left: 10px;
}

.product h5, .product span{
    margin-left: 10px;
}

.product-detail{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#popup{
    background-color: #edebeb;
    box-shadow: 1px 1px 2px 1px #a09e9e;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin: 100px auto;
}

.product-detail img{
    width: 50%;
    border-radius: 5px;
}

.details{
    width: 50%;
    display: flex;
    flex-direction: column;

}

.inactive{
    visibility: hidden;
}


#btn{
    
    border-radius: 5px;
    border: 2 ;
    
    width: 40%;

    font-size: 14px;
}

.btn:hover{
    cursor: pointer
}

.btn{
    
    border-radius: 5px;
    border: 2 ;
    border-color: grey;
    font-size: 14px;
    width: 40%;
    margin-top: 10px;
}


























